body {
    background: linear-gradient(135deg, #000000 0%, #5a5656 100%);
    min-height: 100vh;
    user-select: none;
}

.card {
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button, .badge, p {
    user-select: none;
}